asgiref
build
cfgv
click
distlib
Django
djangorestframework
filelock
identify
nodeenv
packaging
pillow
pip-tools
platformdirs
pre-commit
psycopg2
pyparsing
pyproject_hooks
PyYAML
setuptools
sqlparse
virtualenv
wheel
