<!DOCTYPE html>
<html lang="fr">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Accueil</a></li>
                <li>À propos</a></li>
                <li>Contact</a></li>
                <li>Réserver</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Bienvenue sur notre système de réservation de salle!</h1>
        <p>Pour réserver une salle, veuillez cliquer sur le bouton "Réserver" dans la barre de navigation.</p>
    </div>
</body>
</html>
