{% extends "base.html" %}
    {% block content %}
        <div class="container_tableau_Bord">
        <header>
            <h1>Administration</h1>
        </header>
        <nav>
            <ul>
                <li><button type="submit"><a href="{% url 'lists-list'%}">Liste des utilisateurs</a></button></li>
                <li><button type="submit"> <a href="{% url 'add-room'%}">Ajouter une salle</a></button></li>
                <li><button type="submit"><a href="{% url 'listsreserves-list'%}">Salles réservées</a></button></li>
                <li><button type="submit"><a href="{% url 'listsroomsavailable-list'%}">Salles disponibles</a></button></li>
            </ul>
        </nav>
    {% endblock %}