<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Administration</h1>
    </header>

    <nav>
        <ul>
            <li><button type="submit">Liste des utilisateurs</button></li>
            <li><button type="submit">Ajouter une salle</button></li>
            <li><button type="submit">Salles réservées</button></li>
            <li><button type="submit">Salles disponibles</button></li>
        </ul>
    </nav>
</body>
</html>
