{% extends 'base.html' %}

{% load humanize %}

{% load i18n %} 

{% load static %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('media/images/16.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="welcome-message">{% trans "Bienvenue sur notre système de réservation de salle de réunion!" %}</h5>
                <p class="welcome-message">{% trans "Oubliez les réservations de salles de réunion chaotiques, optez pour la simplicité et l'efficacité !" %}</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('media/images/6.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="welcome">{% trans "Découvrez notre système de réservation en ligne" %}</h5>
                <p class="welcome">{% trans "Transformez vos réunions en un succès." %}</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('media/images/13.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="welcome">{% trans "Réservez maintenant !" %}</h5>
                <p class="welcome">{% trans "Profitez de notre service simple et efficace." %}</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section>
    <div id="services-section" class="container">
        <div class="row">
            {% for page_obj in page_obj %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if page_obj.image %}
                    <img src="{{page_obj.image.url}}" class="card-img-top" alt="{{ page_obj.room_name }}">
                    {% else %}
                    <div class="card-body">
                        <h5 class="card-title">{{ page_obj.room_name }}</h5>
                        <p class="card-text">{% trans "No image available" %}</p>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title truncated" title="{{ page_obj.room_name }}" >{% trans "Room Name:" %} {{ page_obj.room_name }}</h5>
                        <p class="card-text">{% trans "Place:" %} {{ page_obj.place }}</p>
                        <p class="card-text">{% trans "Capacity:" %} {{ page_obj.capacity }}</p>
                        <p class="card-text">{% trans "Price:" %} {{ page_obj.price|intcomma }} Fbu</p>
                        <a href="{% url 'booking' page_obj.id %}" class="btn btn-primary">{% trans "Booking" %}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<div class="d-flex justify-content-center my-5">
    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1#services-section">&laquo; {% trans "first" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}#services-section">{% trans "previous" %}</a>
            {% endif %}

            <span class="current">
                {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}#services-section">{% trans "next" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}#services-section">{% trans "last" %} &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}