{% extends "base.html" %}
    {% block content %}
        <header class="header_home">
            <nav>
                <ul>
                    <li>Accueil</a></li>
                    <li>À propos</a></li>
                    <li>Contact</a></li>
                    <li><a href="{% url 'login' %}"><button>Réserver</button></a></li>
                </ul>
            </nav>
        </header>
        <div class="container_accueil">
            <p>Bienvenue sur notre système de réservation de salle de reunion!</p>
            <p>Oubliez les réservations de salles de réunion chaotiques, optez pour la simplicité et l'efficacité !
                    Découvrez notre système de réservation en ligne et transformez vos réunions en un succès.</p>
        </div>
    {% endblock%}