
{% extends 'base.html' %}

{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
    <h2>Les salles reservees</h2>
    <table>
        <thead>
            <tr>
                <th>Id Client</th>
                <th>Id Salle</th>
                <th>Nom de la sallle</th>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>

            {% for booking in datas %}
            <tr>
                <td>{{ booking.id_user.id }}</td>
                <td>{{ booking.id_room.id }}</td>
                <td>{{ booking.room_name }}</td>
                <td>{{ booking.start_date }}</td>
                <td>{{ booking.end_date }}</td>
                <td><a href="">detailler</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
