{% extends "base.html" %}
    {% block content %} 
            <h2>Les salles reservées</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id utilisateur</th>
                        <th>Id salle</th> 
                        <th>Nom de la salle</th>
                        <th>date debut</th>
                        <th>Date fin</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data %}
                    <tr>
                        <td>{{ data.id_user }}</td>
                        <td>{{ data.id_room}}</td>
                        <td>{{ data.room_name }}</td>
                        <td>{{ data.Start_date }}</td>
                        <td>{{ data.end_date }}</td>
                        
                        <td><a href="">detailler</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% endblock %}
