{% extends "base.html"%}
    {% block content %}
        <h2>Les salles disponibles</h2>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>lieu</th>
                    <th>capacite</th>
                    <th>prix</th>
                    <th>image</th>
                    <th>disponibilite</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.nom_de_salle }}</td>
                    <td>{{ data.lieu }}</td>
                    <td>{{ data.capacite }}</td>
                    <td>{{ data.prix }}</td>
                    <td>{{ data.image }}</td>
                    <td>{{ data.disponibilite }}</td>
                    <td><a href="">detailler</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
