{% extends 'dashboard.html' %}

{% load humanize %}

{% load i18n %}

{% block main_content %}
<div class="container-fluid container_listroom">
  <h2>{% trans "List Rooms" %}</h2>

  <div class="row">
    <div class="col-md-12">
      <form action="" method="GET" class="form-inline filter_room-form" enctype="multipart/form-room">
        <select name="availability" id="availability" class="form-control mr-2">
          <option value="Tous">{% trans "All" %}</option>
          <option value="True">{% trans "Available" %}</option>
          <option value="False">{% trans "Not available" %}</option>
        </select>
        <button type="submit" name="btn_filter" class="btn btn-primary">{% trans "Filter" %}</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form action="" method="GET" class="form-inline search_room-form">
        <input type="search" placeholder="{% trans 'Search' %}" name="search" class="form-control mr-2" />
        <button type="submit" name="btn_SearchRoom" class="btn btn-primary">{% trans "Search" %}</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'addroom' %}"><button type="submit" id="btnAddRoom" class="btn btn-success">{% trans "Add Room" %}</button></a>
    </div>
  </div>

</div>

<form method="post">

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Room Name" %}</th>
      <th>{% trans "Place" %}</th>
      <th>{% trans "Capacity" %}</th>
      <th>{% trans "Price" %}</th>
      <th>{% trans "image" %}</th>
      <th>{% trans "Availability" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  
  <tbody>
    {% for room in rooms %}
    <tr>
      <td>{{ room.room_name }}</td>
      <td>{{ room.place }}</td>
      <td>{{ room.capacity }}</td>
      <td>{{ room.price|intcomma }}</td>
      <td>
        {% if room.image %}
        <img src="{{ room.image.url }}" alt="{{ room.room_name }}" width="100">
        {% else %}
        {% blocktrans %}No image{% endblocktrans %}
        {% endif %}
      </td>
      <td>
        {% if room.availability %}
           <i class="fas fa-check" style="color: green;"></i>
        {% else %}
          <i class="fas fa-times" style="color: red;"></i>
        {% endif %}
      </td>
      <td>
        <a href="{% url 'update_room' room.id %}"><button type="button" name="btn_update" class="btn btn-primary btn-update">{% trans "UPDATE" %}</button></a>
        <a href="{% url 'delete_room' room.id %}"><button type="button" name="btn-delete" value="{{ room.id}}" class="btn btn-danger">{% trans "DELETE" %}</button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</form>
<div class="d-flex justify-content-center my-5">
  {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; {% trans "first" %}</a>
                <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}

            <span class="current">
              {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
            {% endif %}
        </span>
    </div>
  {% endif %}
</div>
{% endblock %}