{% extends 'dashboard.html' %}

{% block main_content %}

{% load humanize %}

{% load fontawesome_5 %}

<div class="container-fluid container_listroom">
  <h2>List Rooms</h2>

  <div class="row">
    <div class="col-md-12">
      <form action="" method="GET" class="form-inline filter_room-form" enctype="multipart/form-data">
        <select name="availability" id="availability" class="form-control mr-2">
          <option value="Tous">All</option>
          <option value="True">Available</option>
          <option value="False">Not available</option>
        </select>
        <button type="submit" name="btn_filter" class="btn btn-primary">Filter</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form action="" method="GET" class="form-inline search_room-form">
        <input type="search" placeholder="search" name="search" class="form-control mr-2" />
        <button type="submit" name="btn_SearchRoom" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'addroom' %}"><button type="submit" id="btnAddRoom" class="btn btn-success">Add Room</button></a>
    </div>
  </div>

</div>

<form method="post">



<table class="table table-striped">
  <thead>
    <tr>
      <th>Room Name</th>
      <th>Place</th>
      <th>Capacity</th>
      <th>Price</th>
      <th>image</th>
      <th>Availability</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for data in datas %}
    <tr>
      <td>{{ data.room_name }}</td>
      <td>{{ data.place }}</td>
      <td>{{ data.capacity }}</td>
      <td>{{ data.price|intcomma }}</td>
      <td>
        {% if data.image %}
        <img src="{{ data.image.url }}" alt="{{ data.room_name }}" width="100">
        {% else %}
        No image
        {% endif %}
      </td>
      <td>
        {% if data.availability %}
          <i class="fas fa-check" style="color: green;"></i>
        {% else %}
          <i class="fas fa-times" style="color: red;"></i>
        {% endif %}
      </td>
      <td>
        <a href="{% url 'update_room' data.id %}"><button type="button" name="btn_update" class="btn btn-primary btn-update">UPDATE</button></a>
        <button type="button" name="btn-delete" value="{{ data.id}}" class="btn btn-danger">DELETE</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</form>

{% endblock %}