{% extends "base.html" %}
    {% block content %}
        <h2>Liste des utilisateurs</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date de naissance</th>
                    <th>adresse</th>
                    <th>E-mail</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data %}
                <tr>
                    <td>{{ data.last_name }}</td>
                    <td>{{ data.first_name }}</td>
                    <td>{{ data.birth_date }}</td>
                    <td>{{ data.address }}</td>
                    <td>{{ data.email }}</td>
                    <td><a href="">detailler</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
