{% extends 'dashboard.html' %}

{% block main_content %}

{% load humanize %}

{% load fontawesome_5 %}

<div class="container-fluid container_listroom">
  <h2>Liste des salles</h2>

  <div class="row">
    <div class="col-md-12">
      <form action="" method="GET" class="form-inline filter_room-form" enctype="multipart/form-data">
        <select name="availability" id="availability" class="form-control mr-2">
          <option value="Tous">Tous</option>
          <option value="True">Disponible</option>
          <option value="False">Non disponible</option>
        </select>
        <button type="submit" name="btn_filter" class="btn btn-primary">Filtrer</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form action="" method="GET" class="form-inline search_room-form">
        <input type="search" placeholder="search" name="search" class="form-control mr-2" />
        <button type="submit" name="btn_SearchRoom" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'addroom' %}"><button type="submit" id="btnAddRoom" class="btn btn-success">Ajouter une salle</button></a>
    </div>
  </div>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>lieu</th>
      <th>capacite</th>
      <th>prix</th>
      <th>image</th>
      <th>disponibilite</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for data in datas %}
    <tr>
      <td>{{ data.room_name }}</td>
      <td>{{ data.place }}</td>
      <td>{{ data.capacity }}</td>
      <td>{{ data.price|intcomma }}</td>
      <td>
        {% if data.image %}
        <img src="{{ data.image.url }}" alt="{{ data.room_name }}" width="100">
        {% else %}
        No image
        {% endif %}
      </td>
      <td>
        {% if data.availability %}
            {% fa5_icon 'check' style='solid' color='green' %}
        {% else %}
            {% fa5_icon 'times' style='solid' color='red' %}
        {% endif %}
      </td>
      <td>
        <a href="{% url 'update_room' data.id %}"><button type="button" class="btn btn-primary btn-update">Modifier</button></a>
        <a href="{% url 'delete_room' data.id %}"><button type="button" name="btn-delete" class="btn btn-danger">Supprimer</button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}