{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="container my-5" style="min-height: 84vh; display: flex; flex-direction: column; justify-content: center;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">{% trans "Password Reset Confirm" %}</h2>
                    <form method="post" class="form-group">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            <small class="text-danger">{{ field.errors|striptags }}</small>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">{% trans "Reset Password" %}</button>
                        </div>
                    </form>
                    <p class="text-center mt-3">
                        {% trans "Remember your password?" %}<a href="{% url 'login' %}">{% trans "Log in" %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}