<!DOCTYPE html>
<html lang="fr">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>
<body class="inscription">
    <div class="container_inscription">
        <h1>Inscription</h1>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit">S'inscrire</button>
        </form>
    </div>
</body>
</html>
