{% extends 'dashboard.html' %}
{% block main_content %}
<div class="container-fluid my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Update a Room</h1>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'update_room' room.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="room_name">Room Name:</label>
                            <input type="text" class="form-control" id="room_name" name="room_name" value="{{ room.room_name }}" required>
                        </div>
                        <div class="form-group">
                            <label for="place">Place:</label>
                            <input type="text" class="form-control" id="place" name="place" value="{{ room.place }}" required>
                        </div>
                        <div class="form-group">
                            <label for="capacity">Capacity:</label>
                            <input type="number" class="form-control" id="capacity" name="capacity" value="{{ room.capacity }}" required>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" id="price" name="price" value="{{ room.price }}" required>
                        </div>
                        <div class="form-group">
                            <label for="image">Image:</label>
                            <input type="file" class="form-control-file" id="image" name="image" accept="image/*" onchange="previewImage(this)">
                            {% if room.image %}
                            <img id="image-preview" src="{{ room.image.url }}" alt="Aperçu de l'image" class="img-fluid my-3" style="max-width: 200px;">
                            {% else %}
                            <p>No image</p>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">UPDATE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('image-preview').src = e.target.result;
                document.getElementById('image-preview').style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}